:root {
    --white-text: rgb(232, 241, 249);
    --purple-text: rgb(87, 68, 154);
    --dark-purple-text: rgb(77, 44, 197);
    --bg-color: rgb(217, 215, 239);
    --footer-color: rgb(31, 37, 47);
    --sidebar-color: rgb(87, 68, 154);
}