<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DicioCode</title>
    <link rel="icon" type="image/x-icon" href="/public/assets/icons/tatu_icon05.png">
    <link rel="stylesheet" href="/public/assets/stylesheets/admin.css">
</head>
<body>
    <aside>
        <header>
            <h1>
                <a href="/"><img src="/public/assets/icons/tatu_icon05.png" alt="">DicioCode</a>
            </h1>          
            <a href="/users/id/1">Perfil</a>          
        </header>
        <hr>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <hr>
                <li><a href="/admin">Página de Administração</a></li>
                <hr>
                <li><a href="/category">Cursos</a></li>
                <hr>
                <li><a href="/words">Palavras</a></li>
                <hr>
                <li><a href="/auth/logout">Sair</a></li>                   
            </ul>
        </nav>
    </aside>
    <div id="main">
        <main>
            <div>
                <h1>Página de Administração</h1>
                <ul>   
                    <div><li><a href="/admin/categories">Gerenciar Categorias</a></li></div>
                    <hr>
                    <div><li><a href="/admin/subcategories">Gerenciar Subcategorias</a></li></div>
                    <hr>
                    <div><li><a href="/admin/words">Gerenciar Palavras</a></li></div>
                    <hr>
                    <div><li><a href="/admin/users">Gerenciar Usuários</a></li></div>
                </ul>
            </div>
        </main>
        <footer>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, quis repudiandae animi perspiciatis corporis, repellendus deleniti unde at reiciendis illum ducimus impedit velit. Fugit veniam libero suscipit dolorem vel ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam fugiat recusandae iusto, quasi quaerat temporibus. Fugit molestias alias reiciendis deserunt cumque inventore? Error, asperiores? Nulla incidunt aliquam odio dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga eveniet, magni architecto eius vel id, cumque earum quas dolor, magnam nostrum possimus suscipit molestiae dignissimos debitis quibusdam culpa voluptates.</p>
            </div>
            <div class="informacoes">
                <h1>Informações</h1>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
            </div>
            <div>
                <h1>Contate-nos</h1>
                <p>Rua, Número - Bairro, Cidade - CEP</p>
                <p>Telefone: (33) 1111-2222</p>
                <p>Email:<a href="mailto:exemplo@email.com">exemplo@gmail.com</a></p>
            </div>
            <div>
                <h1>Siga-nos</h1>
                <a href="twitter.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt=""></a>
                <a href="facebook.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt=""></a>
                <a href="instagram.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt=""></a>
                <a href="youtube.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt=""></a>
            </div>
        </footer>
    </div>

</body>
</html>