<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DicioCode</title>
    <link rel="icon" type="image/x-icon" href="/public/assets/icons/tatu_icon05.png">
    <link rel="stylesheet" href="/public/assets/stylesheets/admin.css">
</head>
<body>
    <aside>
        <header>
            <h1>
                <a href="/"><img src="/public/assets/icons/tatu_icon05.png" alt="">DicioCode</a>
            </h1>          
            <a href="/users/id/1">Perfil</a>          
        </header>
        <hr>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <hr>
                <li><a href="/admin">Página de Administração</a></li>
                <hr>
                <li><a href="/category">Cursos</a></li>
                <hr>
                <li><a href="/words">Palavras</a></li>
                <hr>
                <li><a href="/auth/logout">Sair</a></li>                   
            </ul>
        </nav>
    </aside>
    <div id="main">
        <main>
            <div>
                <h1>Gerenciar Usuários</h1>
                <input type="text" id="search-bar" placeholder="Pesquisar">
                <table>
                    <thead>
                        <th>Id</th>
                        <th>Usuário</th>
                        <th>Email</th>
                        <th>Função</th>
                        <th></th>
                    </thead>
                    <tbody id="users-table">
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, quis repudiandae animi perspiciatis corporis, repellendus deleniti unde at reiciendis illum ducimus impedit velit. Fugit veniam libero suscipit dolorem vel ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam fugiat recusandae iusto, quasi quaerat temporibus. Fugit molestias alias reiciendis deserunt cumque inventore? Error, asperiores? Nulla incidunt aliquam odio dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga eveniet, magni architecto eius vel id, cumque earum quas dolor, magnam nostrum possimus suscipit molestiae dignissimos debitis quibusdam culpa voluptates.</p>
            </div>
            <div class="informacoes">
                <h1>Informações</h1>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
                <a href="google.com">Link Exemplo</a>
            </div>
            <div>
                <h1>Contate-nos</h1>
                <p>Rua, Número - Bairro, Cidade - CEP</p>
                <p>Telefone: (33) 1111-2222</p>
                <p>Email:<a href="mailto:exemplo@email.com">exemplo@gmail.com</a></p>
            </div>
            <div>
                <h1>Siga-nos</h1>
                <a href="twitter.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt=""></a>
                <a href="facebook.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt=""></a>
                <a href="instagram.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt=""></a>
                <a href="youtube.com"><img class="footer-img-link" src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt=""></a>
            </div>
        </footer>
    </div>
</body>
<script>
    async function getUsers() {
        const request = new Request("/users");
        const response = await fetch(request);
        if(response.ok) {
            loadTable(response);
        }
    }
    async function getByName(name) {
        const request = new Request("/users/name/"+name);
        const response = await fetch(request);
        if(response.ok) {
            loadTable(response);
        }
    }

    async function loadTable(response) {
        const users = await response.json();
            const tbody = document.getElementById("users-table");
            tbody.innerHTML = "";
            for(let i = 0; i < users.users.length; i++) {
                const id = document.createElement("td");
                id.innerHTML = users.users[i].id_user;

                const email = document.createElement("td");
                email.innerHTML = users.users[i].email;

                const username = document.createElement("td");
                username.innerHTML = users.users[i].user;

                const role = document.createElement("td");       
                if(users.users[i].id_role == 2) {
                    role.innerHTML = "Comum";
                } else if(users.users[i].id_role == 1) {
                    role.innerHTML = "Administrador";
                }
                
                const editButton = document.createElement("a");
                editButton.href="";
                editButton.addEventListener("click", editUser);
                const editImg = document.createElement("img");
                editImg.src="https://static-00.iconduck.com/assets.00/edit-icon-2048x2048-6svwfwto.png";
                editButton.append(editImg);

                const deleteButton = document.createElement("a");
                deleteButton.href="";
                deleteButton.addEventListener("click", deleteUser);
                const deleteImage = document.createElement("img");
                deleteImage.src="https://cdn-icons-png.freepik.com/512/1345/1345874.png";
                deleteButton.append(deleteImage);

                const action = document.createElement("td");
                action.append(editButton, deleteButton);  

                const tr = document.createElement("tr");
                tr.append(id, username, email, role, action);

                tbody.append(tr);
            }
    }

    async function editUser(event) {
        event.preventDefault();
    }

    async function deleteUser(event) {
        event.preventDefault();
        if(window.confirm("Deletar Usuário?")) {
            const request = new Request("/users/"+event.target.parentNode.parentNode.parentNode.firstChild.innerHTML, {
            method: "DELETE"
            });
            const response = await fetch(request);
            if(response.ok) {
                event.target.parentNode.parentNode.parentNode.remove();
            }
        }
    }

    async function search(event) {
        if(event.target.value == "") {
            getUsers();
            return;
        }
        getByName(event.target.value);
    }
    document.getElementById("search-bar").addEventListener("input", search);
    window.addEventListener("load", getUsers);
</script>
</html>